@import url("@/main.css");

:host {
  width: fit-content;
  height: fit-content;
}
pre.container {
  white-space: pre-line;
  width: 300px;
  height: fit-content;
  margin: 0 auto;
  font-family: MyFont, sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
}
.cursor {
  animation: 1s infinite blink;
  display: inline-block;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}
