@import url("@/main.css");

:host {
  z-index: 100;
  height: fit-content;
  display: block;
  position: sticky;
  top: 0;
}
header:before {
  content: "";
  z-index: -1;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  width: 150%;
  height: 150%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header {
  height: 100%;
  box-shadow: 0 2px 4px var(--shadow-color);
  -o-transition: translate 0.1s ease-in-out;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
  transition: translate 0.1s ease-in-out;
  display: flex;
  position: relative;
  overflow: hidden;
}
.header-content {
  align-items: center;
  gap: 1rem;
  display: flex;
}
.spacer {
  background-color: var(--text-color);
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  width: 2px;
  height: 1rem;
}
.nav {
  align-items: center;
  gap: 1rem;
  display: flex;
}
a.title {
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: 700;
}
a.active {
  color: var(--text-color);
}
