@import url("/AaJinRiHuaQing-ChunLanMaoKun/result.css");

*{
  font-family: "Aa今日花晴 春懒猫困", sans-serif !important;
}

.dark {
  display: var(--dark);
}
.light {
  display: var(--light);
}
a {
  color: var(--link-color);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
img {
  object-fit: contain;
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  width: 100%;
  height: 100%;
}
ul {
  width: fit-content;
  padding-left: 0;
  list-style: none;
}
li {
  width: fit-content;
}
main {
  margin-inline: auto;
  width: 100%;
  margin: 0 auto;
}
@media (width>=768px) {
  main {
    max-width: 720px;
  }
}
@media (width>=1024px) {
  main {
    max-width: 960px;
  }
}
@media (width>=1440px) {
  main {
    max-width: 1200px;
  }
}
@media (width>=1920px) {
  main {
    max-width: 1400px;
  }
}
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
}
footer {
  width: fit-content;
  margin: 6rem auto 10rem;
}